@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282D35;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.logo {
  width: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #61DAFB;
}

.nav-menu {
  background-color: #21222A;
  height: 6rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}


.logo img {
  width: 100%;
}

.main-page {
  position: relative;
}

.background-img {
  position: fixed;
  right: -8rem;
  top: 50%;
  transform: translateY(-30%);
  width: 20rem;
  opacity: 0.5;
  z-index: -1;
}

h1 {
  font-size: 2.5rem;
}

.main-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  height: calc(100vh - 6rem);
}

.main-page ul {
  margin-left: 3rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.main-page ul li {
  position: relative;
}

.main-page ul li::before {
  content: '';
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  background-color: #61DAFB;
  display: block;
  position: absolute;
  left: -1.5rem;
  top: 50%;
  transform: translateY(-50%);
}